//Style du carrousel
#carrousel2{
    margin: auto;
    width: 90%;
    height: 300px;
    position: relative;
    overflow: hidden;
    
}
#containerCarrousel2{
    display: flex;
    gap: 15px;
    width: 90%;
    height: 300px;
}

//Style des images
.photo {
    border-radius: 15px;
    &:hover {
        cursor: pointer;
    }
}

//Style des flèches
.btn2{
    position: absolute;
    width: 20px;
    cursor: pointer;
    top: 140px;
}
#flecheGauche {
    background-color: #fff;
    left: 4px;
    transition: all 0.5s ease;
    &:hover{
        transform:scale(1.5)
    }
}
#flecheDroite {
    background-color: #fff;
    right: 5px;
    transition: all 0.5s ease;
    &:hover{
        transform:scale(1.5)
    }
}