
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');



body{
  background-color: black;
  
  .carrouselTop
  {
    display: flex;
    background-image: url('../img/fond-cine2.jpg');
    background-size: cover;
    background-size: 91%;
    background-repeat: no-repeat;
    background-position: 50% 68%;
   //justify-content: center;
  
 
    
    
  }

}


#carrouselMain
{
  margin-left:50px;
  //margin-right:400px;
    width: 627px;
    height: 290px;
    position: relative;
    overflow: hidden;
    
    margin-top: 80px;
    margin-bottom: 200px;
    z-index:0;

    .containerInfos
    {
        left: 0; 
        right: 0; 
        bottom: 15px;
        margin-left: auto; 
        margin-right: auto; 
        width: 290px;
        text-align: center;
        position: absolute;
        border-radius: 5px;
        padding: 5px;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.8);

        #titleTop
        {
            font-family: 'Roboto', sans-serif;
            margin: 0;            
            font-size: 20px;
            font-weight: bolder;
            padding-bottom: 5px;
            color: white;
        }

        .line
        {
            border-top: 3px solid white;
            width: 133px;
            transform: translate(80px, -4px);
            margin: 0;
            padding-bottom: 2px;
        }
        
        #releaseTop
        {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            z-index: 3;
            color: white;
        }
    }  

    #containerMain
    {
        width: 627px;
        height: 290px;    
        margin-bottom: 80px;

        .photo:hover
        {
            cursor: pointer;
        }
    }

    .bouton
    {
        position: absolute;
        width: 50px;
        cursor:pointer;
        margin: auto;
        top: 0;
        bottom: 0;
        color: white;
        opacity: 0.4;
    }

    #g
    {
        left: 10px;
        transition: all 0.3s ease;
    }

    #d{
        right: 10px;    
        transition: all 0.3s ease;           
    }

    #g:hover, #d:hover{
        opacity: 1;
        transition: all 0.3s ease;
    }
}
%btnE {
  width: 205px;
  height: 48px;
  padding: 10px 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(245, 233, 233, 0.932));
}
.start {
  margin:120px 71px;
  background: #DB1A1A;
  color:white;
 padding:40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 324px);
  /* pour adaptation*/
  justify-content: space-evenly;
  gap: 260px 20px;
  font-family: 'Roboto',
  sans-serif;
}
.sectionStart__left {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  line-height: 45px;
  h3 {
    font-weight: 700;
    font-size: 30px;
  }
  p {
    font-weight: 400;
  }
}
.sectionStart__right {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.btnStartFree {
  @extend %btnE;
  background-color: white;
  color: #DB1A1A;
  

}
.btnContact {
  @extend %btnE;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #DB1A1A;
  color:white;
}

.modalContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /*non scroll sur OX*/
  overflow-y: auto;
  z-index: 10;
  padding: 30px 0;
  color: #E89D9D;
  background: rgba(0, 0, 0, 0.8);
  /*delaet zatemnenie pour form principal*/
  display: none;
}
.btnSend {
  @extend %btnE;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #E89D9D;
  font-size: 20px;
  width: 150px;
  font-weight: 400;
}
.modal__inner {
  position: relative;
  width: 663px;
  padding: 90px 5px;
  background: #2c2c2c;
  text-align: center;
  align-items: center;
}

.modal__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}

.modal__subheader {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 28px;
}

.modal__elements {
  margin: 0 auto 32px auto;
  width: 454px;
}

.modal__item {
  height: 44px;
}

.modal__input {
  padding-left: 30px;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 28, 28);
  border-radius: 5rem;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.8;
}

.modal__item:not(:last-child) {
  margin-bottom: 18px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}
// nav-header

.myformSearch {
  background: rgba(70, 70, 70, 0.47);
  border-radius: 10px;
  color: #A19F9F;
}

@media (max-width: 780px) {
  .start {
    margin: 5px 5px;
    padding-left: 50px;
    gap: 80px;
  }
  .sectionStart__left {
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    h3 {
      font-weight: 700;
      font-size: 90%;
    }
  }
  .modalContact {
    width: 80%;
    height: 80%;
    top: 20px;
    left: 20px;
  }
  .modal__close {
    position: absolute;
    top: 60px;
    right: 70px;
    width: 25px;
    height: 25px;
  }
  .modal__subheader {
    width: 450px;
    margin-left: 75px;
    white-space: pre-wrap;
  }
}
@media (max-width: 560px) {
  .start {
    margin: initial;
    padding-left: 50px;
    padding-right: 50px;
    gap: 30px;
  }
  .sectionStart__left {
    height: 60px;
    margin-bottom: 56px;
    h3 {
      font-weight: 700;
      font-size: 80%;
    }
    p {
      font-size: 80%;
    }
  }
  .sectionStart__right {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .modalContact {
    width: 80%;
    height: 80%;
    top: 20px;
    left: 20px;
  }
  .modal__input {
    padding-left: 30px;
    width:70%;
    height: 70%;
  }
  .modal__close {
    position: absolute;
    top: 70px;
    right: 200px;
    width: 25px;
    height: 25px;
  }
  .modal__subheader {
    width: 280px;
    margin-left: 180px;
    white-space: pre-wrap;
  }
}

.footer{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    padding:50px;
    background-color:#151518 ;
    opacity:0.7;
    
    
       ul{
           list-style: none;
           color:rgb(231, 22, 22);
           .sous-titre-footer{
               font-size: 15px;
               font-family: sans-serif;
               padding-bottom: 20px;
               font-weight: bolder;
              
           }
        a{
            text-decoration: none;
            color:white;
            font-family: sans-serif;
            letter-spacing: 1px;
            font-size: 12px;
            line-height: 25px;
        }       
       }  
}
.footer-1{
    display: flex;
    justify-content: flex-start;
    width: 200px;
    
}
.footer-2{
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
}
@media all and (max-width:640px){
    .footer{
        display: none;
    }
}
#carousel{
    width:700px;;
    height: 400px;
    
    .carousel-inner{
max-height:100%;
max-width:100%;

    }
  
    
}
// .photos-affiche{
//   filter:opacity()
// }

#container-carrousel2{
  width:100%;
  height:500px;
  display:flex;
  background-image:url("fond2.jpg");
 

}

.modal-content{
  background-color:   #1e1f20 ;
  border:2px solid white;
  border-radius:20px;
  color:white;
  opacity:0.9;
  &:hover{
    opacity:1;
    transition: opacity 330ms ease-in-out;
  }
}
.modal-title{
  color:#DB1A1A
}

.titre-2-release{
  display:flex;
  justify-content:space-between;
  //align-items: center;

  height:200px;
  
 
  .titre-2-release-text{
font-size:100px;
padding-right:30px;
text-align: right;
letter-spacing: 5px;
line-height: 1.2;
color:white;

display:flex;
align-items: flex-end;
font-family: 'Inter',sans-serif;

  }
}

.container-button-release{

  display: flex;
  justify-content:center;
  align-items: center;
  width:220px;
  height:200px; 
   margin-left:40%;
   margin-top:100px;
  .button-release{
    height:60px;
    width:100%;
    background-color:#DB1A1A;
    border:none;
    color:white;
    font-weight: bold;
    letter-spacing: 3px;
  
    
  }
}
.navbar{
  background-color: rgb(0, 0, 0);

  img{
    width:20px;
    opacity:0.7;
  }
  
  
  .navbar-brand{
    color:#DB1A1A;
    font-family:"Inter" ,sans serif;
    margin-left:20px;
    padding-right: 10px;
  }

}
.imghome{
  img{
    width:25px;
  }
}
.form-control{
  border:none;
 
}
.form-form{
  width:400px;
}
.titre-1-release{
 display:flex;

  color:white;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  letter-spacing: 5px;
  line-height: 90px;
  width:300px;
  z-index:1;
  margin-top:100px;
 .movies-red{
   color:#DB1A1A;
 }
  
  
  
  

  
  
}