body
{
    background-color: blue;
}
#carrouselMain
{
    margin: auto;
    width: 400px;
    height: 500px;
    border: solid 4px #fff;
    position: relative;
    overflow: hidden;

    .containerInfos
    {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        padding: 5px;
        top: 100px;
        left: 25px;
        z-index: 3;


        #titleTop
        {
            font-family: 'Roboto', sans-serif;
            margin: 0;            
            font-size: 20px;
            font-weight: bolder;
            
            color: black;
        }
        #releaseTop
        {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            z-index: 3;
            color: black;
        }

    }

    

    #containerMain
    {
        width: 400px;
        height: 500px;    
    }

    .bouton
    {
        position: absolute;
        width: 50px;
        cursor:pointer;
        top: 200px;
        color: white;
        opacity: 0.4;
    }

    #g
    {
        left: 10px;
        transition: all 0.3s ease;
    }

    #d{
        right: 10px;    
        transition: all 0.3s ease;           
    }

    #g:hover, #d:hover{
        opacity: 1;
        transition: all 0.3s ease;
    }
}